<div>
  <app-nav></app-nav>
  <form name="form" (ngSubmit)="f.form.valid && onSubmitAddTask()" #f="ngForm"  novalidate>
    <div class="form-horizontal col-md-8">
      <div class="form-group row">
        <label for="taskName" class="col-md-2 col-form-label">Task:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="taskName" [(ngModel)]="taskDetails.TaskName" #taskName="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && taskName.invalid }" required />
          <div *ngIf="f.submitted && taskName.invalid" class="invalid-feedback">
            <div *ngIf="taskName.errors.required">Task Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="priority" class="col-md-2 col-form-label">Priority:</label>
        <div class="col-md-6">
          <input type="range" class="form-control-range slider" min="1" max="30" step="1" name="priority" 
          [(ngModel)]="taskDetails.Priority" #priority="ngModel"  /> 
        </div>
      </div>
      <div class="form-group row">
        <label for="parentTask" class="col-md-2 col-form-label">Parent Task:</label>
        <div class="col-md-6">
          <select class="form-control" [(ngModel)]="taskDetails.ParentId" name="parentTask" #parentTask="ngModel">
            <option *ngFor="let parent of parentTasks" [value]="parent.TaskId">{{parent.TaskName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="startDate" class="col-md-2 col-form-label">Start Date:</label>
        <div class="col-md-6">
          <input type="date" class="form-control" date-date-format="dd-MM-yyyy" name="startDate" [(ngModel)]="taskDetails.StartDate" #startDate="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && startDate.invalid }" required />
          <div *ngIf="f.submitted && startDate.invalid" class="invalid-feedback">
            <div *ngIf="startDate.errors.required">Start Date is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="endDate" class="col-md-2 col-form-label">End Date</label>
        <div class="col-md-6">
          <input type="date" class="form-control" name="endDate" [(ngModel)]="taskDetails.EndDate" #endDate="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && endDate.invalid }" required />
          <div *ngIf="f.submitted && endDate.invalid" class="invalid-feedback">
            <div *ngIf="endDate.errors.required">End Date is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-2 col-md-6 pl-3">
          <button type="submit" class="btn btn-primary" id="btnAddTask">Add Task</button>
          <button type="submit" class="btn btn-primary ml-2" id="btnResetTask" (click)="resetTask()">Reset Task</button>
        </div>
      </div>
    </div>
  </form>
</div>